<nav class="row navegador">
      <a class="boton-nav col-3" href="./index.html" Target="_blank"><i class="fas fa-home"></i> INICIO</a>
      <a class= "boton-nav col-3" href="./productos" Target="_blank"><i class="fas fa-store"></i>Productos</a>
      <a class= "boton-nav col-3" href="./editproductos" Target="_blank"><i class="far fa-smile-beam"></i>Editar Productos</a>
      <a class= "boton-nav col-3" href="./carrito" Target="_blank"><i class="fas fa-mug-hot"></i>Mi carrito</a>
    </nav>